{
  "openapi": "3.1.0",
  "info": {
    "title": "BLACKSENTINEL AI Platform API",
    "description": "Cyber Cognitive Intelligence Engine - Enterprise Security AI Platform",
    "version": "1.0.0",
    "contact": {
      "name": "BlackSentinel AI Team",
      "email": "api@blacksentinel.ai"
    }
  },
  "servers": [
    {
      "url": "https://ai.blacksentinel.ai/api/v1",
      "description": "Production"
    },
    {
      "url": "https://staging-ai.blacksentinel.ai/api/v1",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/query": {
      "post": {
        "tags": ["AI Command Center"],
        "summary": "Process a natural language query",
        "description": "Main query endpoint for the AI Command Center. Understands natural language and routes to appropriate agents.",
        "operationId": "processQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/agents/{agentType}/process": {
      "post": {
        "tags": ["Agent Orchestrator"],
        "summary": "Process a query with a specific agent",
        "operationId": "processAgentQuery",
        "parameters": [
          {
            "name": "agentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["soc", "threat_hunter", "incident_response", "threat_intelligence", "vulnerability", "identity", "endpoint", "cloud", "executive", "automation"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents/status": {
      "get": {
        "tags": ["Agent Orchestrator"],
        "summary": "Get status of all agents",
        "operationId": "getAgentStatus",
        "responses": {
          "200": {
            "description": "Agent statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/knowledge/search": {
      "post": {
        "tags": ["Knowledge Graph"],
        "summary": "Search the knowledge graph",
        "operationId": "searchKnowledgeGraph",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge/graph/stats": {
      "get": {
        "tags": ["Knowledge Graph"],
        "summary": "Get knowledge graph statistics",
        "operationId": "getKnowledgeGraphStats",
        "responses": {
          "200": {
            "description": "Graph statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphStats"
                }
              }
            }
          }
        }
      }
    },
    "/memory/store": {
      "post": {
        "tags": ["Memory Service"],
        "summary": "Store a memory entry",
        "operationId": "storeMemory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Memory stored"
          }
        }
      }
    },
    "/memory/retrieve": {
      "post": {
        "tags": ["Memory Service"],
        "summary": "Retrieve relevant memories",
        "operationId": "retrieveMemory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryRetrieveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieved memories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRetrieveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generative/generate": {
      "post": {
        "tags": ["Generative AI"],
        "summary": "Generate security artifacts",
        "operationId": "generateArtifact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated artifact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/predict/threats": {
      "post": {
        "tags": ["Predictive Engine"],
        "summary": "Predict emerging threats",
        "operationId": "predictThreats",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredictionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Threat predictions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreatPredictions"
                }
              }
            }
          }
        }
      }
    },
    "/xai/explain": {
      "post": {
        "tags": ["XAI Module"],
        "summary": "Explain an AI decision",
        "operationId": "explainDecision",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplanationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Explanation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullExplanation"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": ["Model Registry"],
        "summary": "List registered models",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/ciso": {
      "post": {
        "tags": ["Executive Agent"],
        "summary": "Generate CISO report",
        "operationId": "generateCISOReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CISO report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CISOReport"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "System health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "QueryRequest": {
        "type": "object",
        "required": ["query", "tenantId", "userId"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language query"
          },
          "tenantId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "context": {
            "type": "object"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "answer": { "type": "string" },
          "confidence": { "type": "number" },
          "agent": { "type": "string" },
          "sources": { "type": "array", "items": { "type": "string" } },
          "suggestions": { "type": "array", "items": { "type": "string" } },
          "visualizations": { "type": "array" },
          "actions": { "type": "array" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "AgentRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "type": "string" },
          "context": { "type": "object" }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "answer": { "type": "string" },
          "confidence": { "type": "number" },
          "reasoning": { "type": "object" }
        }
      },
      "AgentStatus": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "status": { "type": "string" },
          "taskCount": { "type": "integer" },
          "lastActive": { "type": "string", "format": "date-time" }
        }
      },
      "KnowledgeSearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "type": "string" },
          "limit": { "type": "integer", "default": 10 }
        }
      },
      "KnowledgeSearchResponse": {
        "type": "object",
        "properties": {
          "nodes": { "type": "array" },
          "totalResults": { "type": "integer" }
        }
      },
      "GraphStats": {
        "type": "object",
        "properties": {
          "totalNodes": { "type": "integer" },
          "totalEdges": { "type": "integer" },
          "nodeTypes": { "type": "object" },
          "edgeTypes": { "type": "object" }
        }
      },
      "MemoryStoreRequest": {
        "type": "object",
        "required": ["content", "type", "tenantId"],
        "properties": {
          "content": { "type": "string" },
          "type": { "type": "string", "enum": ["immediate", "operational", "historical"] },
          "tenantId": { "type": "string" },
          "metadata": { "type": "object" }
        }
      },
      "MemoryRetrieveRequest": {
        "type": "object",
        "required": ["query", "tenantId"],
        "properties": {
          "query": { "type": "string" },
          "tenantId": { "type": "string" },
          "limit": { "type": "integer", "default": 10 }
        }
      },
      "MemoryRetrieveResponse": {
        "type": "object",
        "properties": {
          "entries": { "type": "array" },
          "totalFound": { "type": "integer" }
        }
      },
      "GenerationRequest": {
        "type": "object",
        "required": ["type", "tenantId", "userId"],
        "properties": {
          "type": { "type": "string", "enum": ["sigma", "yara", "suricata", "kql", "sql", "playbook", "powershell", "bash", "python", "runbook", "report"] },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "severity": { "type": "string" },
          "mitreMapping": { "type": "array", "items": { "type": "string" } },
          "tenantId": { "type": "string" },
          "userId": { "type": "string" }
        }
      },
      "GenerationResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "content": { "type": "string" },
          "format": { "type": "string" },
          "confidence": { "type": "number" },
          "warnings": { "type": "array", "items": { "type": "string" } },
          "recommendations": { "type": "array", "items": { "type": "string" } }
        }
      },
      "PredictionRequest": {
        "type": "object",
        "required": ["tenantId"],
        "properties": {
          "tenantId": { "type": "string" },
          "timeframe": { "type": "object" },
          "assets": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ThreatPredictions": {
        "type": "object",
        "properties": {
          "predictions": { "type": "array" },
          "confidence": { "type": "number" },
          "timeframe": { "type": "string" }
        }
      },
      "ExplanationRequest": {
        "type": "object",
        "required": ["decisionId"],
        "properties": {
          "decisionId": { "type": "string" },
          "detailLevel": { "type": "string", "enum": ["basic", "detailed", "comprehensive"] }
        }
      },
      "FullExplanation": {
        "type": "object",
        "properties": {
          "why": { "type": "object" },
          "how": { "type": "object" },
          "confidence": { "type": "number" },
          "evidence": { "type": "array", "items": { "type": "string" } },
          "alternatives": { "type": "array" },
          "limitations": { "type": "array" },
          "risks": { "type": "array" }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "version": { "type": "string" },
          "type": { "type": "string" },
          "status": { "type": "string" },
          "metrics": { "type": "object" }
        }
      },
      "ReportRequest": {
        "type": "object",
        "required": ["tenantId"],
        "properties": {
          "tenantId": { "type": "string" },
          "period": { "type": "string" },
          "includeMetrics": { "type": "boolean" }
        }
      },
      "CISOReport": {
        "type": "object",
        "properties": {
          "executiveSummary": { "type": "string" },
          "keyMetrics": { "type": "object" },
          "riskAssessment": { "type": "object" },
          "recommendations": { "type": "array", "items": { "type": "string" } },
          "generatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "uptime": { "type": "number" },
          "components": { "type": "object" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
